# Backend
PORT=4000
POLL_INTERVAL_MS=3000
EXCEL_PATH=../1. Mathugama Asphalt plant - TTM  LB 2000 - Plant Record.xls
POLL_INTERVAL_MS_PNL=5000
PNL_EXCEL_PATH=../6.Monitoring P  L May 2026.xlsx
SPARE_EXCEL_PATH=../Spare Parts - PMD1.xlsx
POLL_INTERVAL_MS_SPARE=5000
